@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="div-center">
    
    <div class="row">

        @for(int i=0; i < 100; i++)
        {
            <div class="item col-2">
                <p id="Pname" class="item-name">Item @i</p> 
                <p id="Pdesc" class="item-name">piaspasidpi asdaips dapsd aspdiiadakd asdoadia </p>
                <p id="Prate" class="item-name">5</p>
                <p id="Pprice" class="item-name">R$ 4.99</p>
            </div>
        }

    </div>
</div>
